

.config_expand {
    width: auto; 
    
    position: absolute;
    top: 0;
    right: 18px;
    z-index: 1;

    border-radius: 8px;
    background: var(--backgroundMenuApp);

    box-shadow: var(--shadowDarkMode);

    display: none;
}
.config_expand.active {
    display: block;
}
.darkmode__config {
    margin: 5px 0;
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    column-gap: 13px;
    transition: all 0.2s;
}
.darkmode__config:hover {
    background-color: var(--bgDarkMode);
}
.darkmode__config p {
    color: var(--defaultText);
}
.icon__darkmode {
    width: 24px;
    height: 24px;

    background: var(--btnMode);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}