@import url(/style/header.css);
@import url(/style/section.css);
@import url(/style/footer.css);
@import url(/style/userExpandedContent.css);
@import url(/style/menuExpandedContent.css);
@import url(/style/configExpandedContent.css);
@import url(/style/recognitionContent.css);
@import url(/style/responsive.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;

    background: var(--bgBody);
}


.main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: column;

    position: relative;
}

:root {
    --defaultText: rgba(0,0,0,.87);
    --buttonText: #3c4043;
    --footerText: #70757a;
    --bgBody: #FFF;

    --menuIcon: #5f6368;
    --searchIcon: #9aa0a6;

    --borderInput: #dfe1e5;

    --backgroundButtonSection: #f8f9fa;
    --borderButtonSection: #f8f9fa;
    --backgroundButtonSectionHover: #f8f9fa;
    --borderButtonSectionHover: #dadce0;
    --colorTextButton: #3c4043;
    --colorTextButtonHover: #202124;
    --shadowButtonHover: 0 1px 1px rgb(0 0 0 / 10%);

    --backgroundInputHover: #FFF;
    --inputBorderHover: rgba(223,225,229,0);
    --inputShadowHover: 0 1px 6px rgb(32 33 36 / 28%);

    --backgroundFooter: #f2f2f2;
    --borderBottomFotter: #dadce0;
    
    --backgroundMenuApp: white;
    --borderMenuApp: rgba(0,0,0,.2);
    --shadowMenuApp: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
    --iconHover: #e8f0fe;

    --backgroundButtonMenuAppHover: #f8fbff;
    --borderButtonMenuApp: #dadce0;
    --borderButtonMenuAppHover: #cce0fc;
    --colorTextButtonMenuApp: #1a73e8;
    
    --github: #171515;
    --addAccountbackgroundHover: #f7f8f8;

    --btnMode: url('/assets/btn-light.svg');
    --shadowDarkMode: 0 2px 10px 0 rgb(0 0 0 / 20%);
    --bgDarkMode: rgba(0,0,0,0.1);
}
.dark-mode:root {
    --defaultText: white;
    --buttonText: #e8eaed;
    --footerText: #9aa0a6;
    --bgBody: #202124;

    --menuIcon: rgba(255,255,255,0.87);

    --borderInput: #5f6368;

    --colorTextButton: #e8eaed;
    --backgroundButtonSection: #303134;
    --borderButtonSection: #303134;
    --colorTextButtonHover: #e8eaed;
    --backgroundButtonSectionHover: #303134;
    --borderButtonSectionHover: #5f6368;
    --shadowButtonHover: 0 1px 3px rgb(23 23 23 / 24%);

    --backgroundInputHover: #303134;
    --inputBorderHover: rgba(223,225,229,0);
    --inputShadowHover: 0 1px 6px #171717;

    --backgroundFooter: #171717;
    --borderBottomFotter: #3c4043;

    --backgroundMenuApp: #2d2e30;
    --borderMenuApp: rgba(0,0,0,.2);
    --shadowMenuApp: 0 -1px 2px 0 rgb(0 0 0 / 30%), 0 -2px 6px 2px rgb(0 0 0 / 15%);
    --iconHover: #28292c;

    --backgroundButtonMenuAppHover: #3c4043;
    --borderButtonMenuApp: #5f6368;
    --borderButtonMenuAppHover: #5f6368;

    --github: #fff;
    --addAccountbackgroundHover: rgba(232,234,237,.04);

    --btnMode: url('/assets/btn-night.svg');
    --shadowDarkMode: 1px 1px 15px 0px #171717;
    --bgDarkMode: rgba(255,255,255,0.1);
}