
@media (max-width: 813px) {
    .info__content {
        justify-content: center;
    }
    .about__info, .config__info {
        justify-content: center;
        row-gap: 10px;
    }
}
@media (max-width: 500px) {
    .recognition__section {
        flex-direction: column;
        row-gap: 2rem;
    }
    #request {
        margin: 0 2rem;
        text-align: center;
    }
    #deleteButton {
        visibility: visible;
    }
}