

.section {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 12rem;
    flex-grow: 1;
    row-gap: 2rem;
}

.logo__content {
    width: 350px;
    height: auto;

    background-image: url(/assets/google-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    cursor: pointer;
}

.search__section {
    position: relative;

    width: 548px;
    height: 46px;

    transition: all 0.2s;
}
.content__section {
    width: 100%;
    max-height: 46px;
    
    overflow: hidden;
    background: var(--backgroundInputHover);
    border: 1px solid var(--borderInput);
    border-radius: 2.4rem;

    transition: all ease-in-out 0.25s;
}
.content__section.active {
    max-height: 250px;
    box-shadow: var(--inputShadowHover);
    border-color: var(--inputBorderHover);
}
.content__section:hover {
    box-shadow: var(--inputShadowHover);
    border-color: var(--inputBorderHover);
}
.search__content {
    width: 100%;
    height: 46px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;
    column-gap: 14px;
}
.search_icon {
    width: 24px;
    height: 24px;
}
.input__form {
    width: 100%;
    height: 46px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--defaultText);
    
    background: transparent;
    border: none;
    outline: none;
}
.recognition_icon {
    width: 24px;
    height: 24px;

    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}
.search_history {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding-bottom: 14px;
    row-gap: 5px;
    list-style: none;
}
.dash {
    border-top: 1px solid var(--borderInput);
    margin: 0 20px 0 14px;
    padding-bottom: 4px;
}
.search {
    display: flex;
    align-items: stretch;
    cursor: pointer;

    padding: 0 20px;
}
.search:hover {
    background-color: var(--bgDarkMode);
}
.search a {
    display: flex;
    align-items: center;
    
    column-gap: 14px;
    padding: 4px 0;

    text-decoration: none;
}
.fa-clock {
    font-size: 14px;
    color: var(--searchIcon);
}
.search a span {
    color: var(--defaultText);
}
#deleteButton {
    font-size: 13px;
    color: var(--footerText);
    
    margin-left: auto;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;

    visibility: hidden;
}
#deleteButton:hover {
    text-decoration: underline;
    color: var(--colorTextButtonMenuApp);
}
.search:hover #deleteButton {
    visibility: visible;
}

.button__content {
    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 1.5rem;
}
.search__button, .luky__button {
    height: 36px;
    
    color: var(--colorTextButton);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    
    background-color: var(--backgroundButtonSection);
    border: 1px solid var(--borderButtonSection);
    border-radius: 4px;
    padding: 0 16px;
    
    cursor: pointer;
    outline: none;

    transition: all 0.2s;
}
.search__button:hover, .luky__button:hover {
    color: var(--colorTextButtonHover);
    box-shadow: var(--shadowButtonHover);
    border: 1px solid var(--borderButtonSectionHover);
}